/*font-family: 'Ubuntu', sans-serif;*/

table {
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    border-collapse: collapse;
    box-shadow: 10px 10px 15px #628ca6;
}

thead th {
    font-size: 2em;
    background-color: #7fb9c2;
}

tbody th {
    font-size: 1.2em;
    color: white;
    background-color: #628ca6;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tfoot {
    background-color: #7fb9c2;
}

.italic {
    font-style: italic;
}