@media only screen and (min-width: 1001px) {
    #wrapper {
        width: 80%;
        margin: 0 auto;
    }

    header {
        padding: 20px;
        justify-content: space-between;
    }

    .logo img {
        width: 8vw;
        height: 8vw;
        margin-left: 20px;
        margin-right: 20px;
    }

    .logo h1 {
        font-size: 2rem;

    }

    header button {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    header h3 {
        font-size: 1vw;
        margin-right: 20px;
    }

    nav button {
        display: none;
    }

    nav li {
        border: none;
        width: 270px;
       height: 42px;
        font-size: 1rem;
        background-color: #428e92;
        font-family: 'Playfair Display', serif;
        text-align: center;
    }

    nav li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: none;
        border-top: none;
    }

    #primaryNav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul.hide {
        display: block;
    }

    .container {
        width: 900px;
        margin-top: 100px;
        margin-left: 220px;
        font-size: 2rem;

    }

    .container p {
        font-size: 1.3rem;
        line-height: 25px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .wrapper {
        width: 1000px;
        max-width: 100%;
        height: 80vh;
    }

    article {
        width: 85%;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-gap: 10px;
        font-size: 1.3rem;

    }

    .left img {
        width: 550px;
        height: auto;
        margin-left: 220px;
    }

    .right p {
        width: 80%;
        line-height: 30px;
    }

    .right li {
        line-height: 30px;

    }

    .links {
        display: flex;
        flex-direction: right;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 70px;
    }

    .links img {
        width: 240px;
        height: auto;
        padding: 8px;
    }

    .links img:hover {
        box-shadow: 0 0 50px #333;
    }

    figcaption {
        width: 90%;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }

    .temple {
        width: 700px;
        margin-top: 100px;
        margin-left: 100px;
        line-height: 30px;
        font-size: 1.2rem;
    }

    .pic img {
        float: right;
        width: 350px;
        height: auto;
        margin-top: 80px;
        margin-right: 50px;
    }

    .temple h1 {
        line-height: 40px;
    }

    #form h1 {
        padding-top: 50px;
        margin-left: 300px;
        margin-bottom: 0;

    }

    #form fieldset {
        width: 600px;
        margin-left: 200px;
        padding: 20px;

    }

    #form input {
        max-width: 60rem;
    }

    #submit {
        margin-left: 400px;
    }

    #text {
        max-width: 60rem;
    }

    .room {
        margin-left: 100px;
    }

    .thanks {
        font-size: 3.5vw;
        padding: 100px;
    }

    .services {
        width: 1100px;
        margin-left: 80px;
        text-align: left;
        margin-left: 100px;
        margin-top: 50px;
        line-height: 33px;

    }

    .services h3 {
        text-align: left;
        font-size: 1.5vw;
    }

    .services li {
        font-size: 1.2vw;
    }

    .services button {
        font-size: 1.5vw;
        margin-right: 300px;
    }

    .services h4 {
        margin-top: 50px;
    }

    .reception .links {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 1200px;

    }

    .reception img {
        height: 160px;
        width: 250;

    }

    .missionaries .links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        width: 700px;

    }

    .missionaries img {
        height: 190px;
        width: 347px;

    }

    .missionaries figcaption {
        text-align: center;
    }

    .missionaries {
        display: flex;
        flex-direction: row;
    }

    .missionaries #form {
        margin-right: 100px;
    }
    .missionaries #form h1 {
        text-align: center;
        margin-left:150px;
    }
    .missionaries #form fieldset {
        width: 350px;
        padding-right: 10px;
    }

    .missionaries #submit {
        margin-left: 250px;
        font-weight: bold;
    }
    .contact {
        margin-left: 200px;
        margin-top: 100px;
          
    }
    .contact p {
        font-size: 2vw;
        line-height: 15px;
        margin-bottom: 30px;
       
    }
    
}