/*font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    padding: .2em;
    margin: 0 auto;
    background-color: #006064;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    display:flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    width: 50%;
}

.logo img {
    height: 15vw;
    width: 15vw;
    margin-left: 10px;
 
}
.logo h1 {
    font-size: 1rem;
    margin-left:-7px;
}
header button {
    background-color: #ffa726;
    font-weight: bold;
    color: black;
    border: 0;
    padding: .5rem 1rem;
    font-size: 4.2vw;
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(#c77800, 40%));
    transform: scale(1.03);
}

button:active {
    box-shadow: 0px 4px 8px rgba(darken(#c77800, 30%));
    transform: scale(.98);
}

header h1 {
    font-size: 3vw;
}

header h3 {
    font-size: 3vw;
    margin-right: 10px;
    margin-bottom: 10px;

}

nav button {
    background-color: #428e92;
    width: 100%;
    color: white;
    border: none;
    font-size: 1.2rem;
}

nav li {
    background-color: #428e92;
    text-align: center;
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide {
    display: none;
}


nav li a {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);

}

.active {
    background-color: #00363a;
}

nav a:hover {
    background-color: #ffa726;
}

nav ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

.background {
    background-color:white;
}

main {
    font-family: 'Playfair Display', serif;
}

.container {
    width: 100%;
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    position: relative;

}

.container p {
    padding: 5%;
}

.wrapper {
    display: grid;
    width: 350px;
    max-width: 100%;
    height: 50vh;
    margin: 30px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box.one {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url(https://content.ldschurch.org/templesldsorg/bc/Temples/photo-galleries/concepcion-chile/2018/400x250/01-Concepcion-Chile-Temple-2113673.jpg);

}

.box.two {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(https://content.ldschurch.org/templesldsorg/bc/Temples/photo-galleries/barranquilla-colombia/800x500/6-Barranquilla-Columblia-Temple-2135227.jpg);
}

.box.three {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
    background-image: url(https://content.ldschurch.org/templesldsorg/bc/Temples/photo-galleries/cedar-city-utah/400x225/Cedar-City-1976237.jpg);
}

.box.four {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    background-image: url(https://content.ldschurch.org/templesldsorg/bc/Temples/photo-galleries/concepcion-chile/2018/400x250/13-Concepcion-Chile-Temple-2113660.jpg);
}

.box.five {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    background-image: url(https://content.ldschurch.org/templesldsorg/bc/Temples/photo-galleries/hartford-connecticut/2018/400x250/Hartford-Temple06.jpg);
}

.box.six {
    grid-column: span 3;
    grid-row: span 2;
    background-image: url(https://content.ldschurch.org/templesldsorg/bc/Temples/photo-galleries/newport-beach-california/800x500/newport-beach-california-temple-1169298-wallpaper.jpg);
}

article div {
    width: 98%;
    position: relative;
}

.left img {
    width: 98%;
    height: auto;
    margin: 8px;

}

.right h2,
h3 {
    margin-bottom: 10px;
}

.right {
    width: 100%;
    margin: 30px;
}

.right p {
    width: 80%;
    text-align: start;
    margin-left: 5px;
    margin-bottom: 10px;

}

.right li {

    list-style-type: none;
    line-height: 25px;
}

.right ul li ul li {
    padding: 10px;
    list-style-type: none;
    line-height: 5px;

}

.links {
    display: grid;
    margin: 30px auto;
    grid-gap: 5px;
}

.links img {
    width: 350px;
    max-width: 100%;
    height: 55vh;
}

figcaption {
    width: 100%;
    font-size: 7vw;
    text-align: center;
}

.temple {
    width: 300px;
    margin: 50px 20px;
    line-height: 20px;
}

.pic img {
    width: 200px;
    height: auto;
    margin-top: 30px;
    margin-left: 70px;
}

.temple h1 {
    text-align: center;
    line-height: 30px;
}

.temple h3 {
    font-style: italic;
    padding: 5px;
    background-color: #80c2c5;
    margin-top: 5px;
}

.temple li {
    list-style-type: none;
}


footer a {
    color: white;
}

#form {
    padding: .2em;
    margin: 0 auto;
    text-align: left;
}

#form h1 {
    margin-left: 20px;
}

#form fieldset {
    margin: 5px;
    border: 1px solid #00363a;
    border-radius: 10px;
    padding: .5em;
}

label,
#form div {
    display: block;
    padding-top: 1rem;
    font-size: 1.2rem;
}

#form input {
    display: inline-block;
    font-size: 1rem;
    border: solid 1x #c77800;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 86%;
    max-width: 20rem;
    background-color:#ffa726;
}

#form select {
    display: block;
    font-size: 1rem;
    border: solid 1x #c77800;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 80%;
    max-width: 20rem;
    background-color: #ffa726;
}

#submit {
    border: none;
    border-radius: 1rem;
    padding: .80rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 80%;
    max-width: 20rem;
}

#text {
    border: solid 1x#c77800;
    border-radius: 4px;
    padding: .75rem;
    width: 85%;
    max-width: 20rem;
    background-color: #ffa726;
}

::placeholder {
    color: #00363a;
}

.thanks {
    font-size: 6.5vw;
    padding: 50px;
}

.services {
    width: 250px;
    margin-left: 30px;
}

.services h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.services h4 {
    padding: 10px;
}
.services button {
    background-color: #ffa726;
    font-weight: bold;
    color: black;
    border: 0;
    padding: .5rem .5rem;
    font-size: 4.5vw;
    border-radius: 5px;
    margin-right: 18px;
    margin-bottom: 50px;
}
.contact {
    margin-left: 20px;
      
}
.contact p {
    font-size: 6vw;
    line-height: 15px;
    margin-bottom: 20px;
}




@media screen and (max-width:500px) {}